<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	

	<link rel="stylesheet" href="/image.css">

	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script>
		$(document).ready( function(){


			$("#btn-list").on( "click", function(){
				$(location).attr( "href", "/list" );
			} );

			$("#btn-del").on( "click", function(){
				if( confirm( "Are you sure to want to delete this report?") ){
		    		var targetId = $(this).data( "report-id");

			    	var opt = {
						type: "POST",
						url: "/delreport",
						data: {targetId : targetId},

						success: function( data ){
							$(location).attr( "href", "/list" );
						},
						error: function(){
							alert( "An error occured.\nPlease contact administrator." );
						}
					}

					$.ajax( opt );
		    	}
			} );

			$("#sign-out").on( "click", function(){
		    	$(location).attr( "href", "/" );
		    } );










		    // google chart - start
		    google.charts.load("current", {packages:["corechart"]});
			google.charts.setOnLoadCallback(drawChart);
			function drawChart() {
			  
				var rdata = "<%- history.RDATA %>";
				var gdata = "<%- history.GDATA %>";
				var bdata = "<%- history.BDATA %>";

				var rdataList = rdata.split(",");
				var gdataList = gdata.split(",");
				var bdataList = bdata.split(",");

				var rChartList = [];
				rChartList.push(['red']);

				var gChartList = [];
				gChartList.push(['green']);

				var bChartList = [];
				bChartList.push(['blue']);

				for( var i=0; i<rdataList.length; i++ ){
					var temp = [];
					temp.push( parseInt(rdataList[i]) );
					rChartList.push( temp );
				}

				for( var i=0; i<gdataList.length; i++ ){
					var temp = [];
					temp.push( parseInt(gdataList[i]) );
					gChartList.push( temp );
				}

				for( var i=0; i<bdataList.length; i++ ){
					var temp = [];
					temp.push( parseInt(bdataList[i]) );
					bChartList.push( temp );
				}

				var dataR = google.visualization.arrayToDataTable( rChartList );
				var dataG = google.visualization.arrayToDataTable( gChartList );
				var dataB = google.visualization.arrayToDataTable( bChartList );

		        var optionsR = {
		          title: 'RED',
		          legend: { position: 'none' },
		          histogram: { bucketSize: 3 },
		          colors: ['red'],
		          hAxis: {
				      ticks: [0, 50, 100, 150, 200, 250]
				    },
		        };
		        var chartR = new google.visualization.Histogram(document.getElementById('chart_div_red'));
		        chartR.draw(dataR, optionsR);

		        var optionsG = {
		          title: 'GREEN',
		          legend: { position: 'none' },
		          histogram: { bucketSize: 1.5 },
		          colors: ['green'],
		          hAxis: {
				      ticks: [0, 50, 100, 150, 200, 250]
				    },
		        };
		        var chartG = new google.visualization.Histogram(document.getElementById('chart_div_green'));
		        chartG.draw(dataG, optionsG);

		        var optionsB = {
		          title: 'BLUE',
		          legend: { position: 'none' },
		          histogram: { bucketSize: 1.5 },
		          colors: ['blue'],
		          hAxis: {
				      ticks: [0, 50, 100, 150, 200, 250]
				    },
		        };
		        var chartB = new google.visualization.Histogram(document.getElementById('chart_div_blue'));
		        chartB.draw(dataB, optionsB);
			}
		    // google chart - end













			// Merged Histogram - Start
			var rhist = "<%- history.RHIST %>";
			var ghist = "<%- history.GHIST %>";
			var bhist = "<%- history.BHIST %>";

			var rhistList = rhist.split(",");
			var ghistList = ghist.split(",");
			var bhistList = bhist.split(",");

			var ctx = $("#colorhistcanvas")[0].getContext("2d");
		    
		    var rmax = Math.max.apply(null, rhistList);
		    var bmax = Math.max.apply(null, ghistList);
		    var gmax = Math.max.apply(null, bhistList);

		    function colorbars(ctx, max, vals, color, y) {
		      ctx.fillStyle = color;
		      jQuery.each(vals, function(i,x) {
		        var pct = (vals[i] / max) * 150;
		        ctx.fillRect(i, y, 1.5, -Math.round(pct));
		      });
		    }
		    colorbars(ctx, rmax, rhistList, "rgb(255,0,0)", 150);
		    colorbars(ctx, gmax, ghistList, "rgb(0,255,0)", 150);
		    colorbars(ctx, bmax, bhistList, "rgb(0,0,255)", 150);
		    // Merged Histogram - End





		} );
	</script>

	<title>OIL ANALYZER</title>
</head>
<body>
	
	<nav class="navbar navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="float: left; margin-left: 8px">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <button type="button" class="navbar-toggle" id="sign-out" style="color: white; float:right; margin-right: 8px">
            Sign Out&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span>
    		</button>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar" style="background-color: white; color: #04313a">
	      <ul class="nav navbar-nav">
	        <li class="navbar-item"><a href="/list" class="site-nav-menu" id="1" name="List" data-href="/list">List</a></li>
          	<li class="navbar-item active"><a href="/analyzing" class="site-nav-menu" id="1" name="Assign Failure" data-href="/analyzing">Analyze</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li class="navbar-item"><a href="/setting" class="site-nav-menu" id="1" name="Setting" data-href="/setting">Setting</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<form id="failure-form" class="failure-form" name="failure-form" method="post" action="/savefailure
	" data-failure-id="<%- history.id %>">
		    
    	<div class="container-fluid">
			<table class="table table-responsive table-bordered report-table">
				<tbody>
					<tr><th><h4 style="font-weight: bold"><%- history.TITLE %></h4></th></tr>
					<tr><td class="before-line"><%- history.CREATED_DATE %> | <%- history.OWNER %></td></tr>
					<tr><td><img style="margin-bottom: 30px" src="/<%- history.savedFileName %>"  style="width:100%"></td></tr>
					<tr><th class="before-line">HISTOGRAM</th></tr>
					<tr>
						<td>
							<div id="chart_div_red" style="width: 100%; height: 100%;"></div>
							<div id="chart_div_green" style="width: 100%; height: 100%;"></div>
							<div id="chart_div_blue" style="width: 100%; height: 100%;"></div>
						</td>
					</tr>

					<tr><th class="before-line">COLOR MERGE</th></tr>
					<tr><td style="text-align: center;"><canvas id="colorhistcanvas"></canvas></td></tr>
					
					<tr><th></th></tr>
					<tr><td></td></tr>

					<tr><th class="before-line">DESCRIPTION</th></tr>
					<tr><td><%- history.DESCRIPTION %></td></tr>

				</tbody>
			</table>


		</div>

		<div class="container-fluid assign-button-group" style="text-align:center">
			<input style="width: 48%" type="button" value="DELETE" id="btn-del" data-report-id="<%- history.id %>" />
			<input style="width: 48%" type="button" value="BACK TO LIST" id="btn-list" />
		</div>
	</form>

	<footer>
		<p>
			Copyright(c) 2018 Park Hong Gyu<br>
			Beta-Test Version - v.0.0.1
		</p>
	</footer>
	
</body>
</html>